.button {
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 196px;
  padding: 10px 12px;
  height: 40px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}

.button--next,
.button--submit {
  color: white;
  background-color: var(--primary-color);
}

.button--back {
  background-color: #e1e8fd;
  color: var(--primary-additional-color);
}

.button--save {
  border: 1px solid black;
  color: black;
  background-color: white;
}
