.popup {
  background-color: #fff;
}

.select-button {
  border: none;
  background: transparent;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  color: var(--text-link);
}

.select-button--selected {
  text-decoration: underline dotted blue;
}
