.form {
  display: flex;
  flex-direction:column;
  justify-content: center;
  z-index: 10;
  align-items: center;
}

.input{
  margin-bottom: 20px;
  width: 306px;
  height: 28px;
}

label {
  color: #303233;
  font-size: 14px;
  line-height: 19.6px;
  display: block;
}

/* Данный код модифицирует все формы приложения
напиши по-другому, чтобы код использовался внутри нужных компонентов
form {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.button{
  margin: 20 auto;
  width: 256px;
  height: 40px;
}
.errorMessage{
  color: red;
}

.select {
  border: 1px solid red;
}