.form {
  display: flex;
  flex-direction:column;
  justify-content: center;
  z-index: 10;
  align-items: center;
}

.input{
  margin-bottom: 20px;
  width: 306px;
  height: 28px;
}

label {
  color: #303233;
  font-size: 14px;
  line-height: 19.6px;
  display: block;
}

.button{
  margin: 20 auto;
  width: 256px;
  height: 40px;
}
.heading{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color:  #303233;
  }