.popup {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60%;
  height: 60%;
  padding: 20px;
  background-color: #EFEFEF;
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 80dvw;
  max-height: 90dvh;
  overflow-y:scroll;
  color: #188BEC;
}

.card> h2,h3{
color:  #303233;
}
.card-input {
  margin: 12px 0 0;
  width: 100%;
  height: 48px;
  padding: 10px 16px;
  gap: 8px;
  border: 1px solid #d9e0f0;
  border-radius: 8px;

}
 .wrapper {
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-auto-flow: dense;
 }