.progress-container {
  margin: 0 auto;
  width: calc(100% - 48px);
  background-color: #dde1e6;
  height: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.progress-bar {
  height: 8px;
  background-color: #343a3f;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: width 0.5s ease-in-out;
}

.progress {
  margin: 6px 0 0 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}
