.progress-container {
  margin: 0 auto;
  width: 100%;
  background-color: #EFEFEF;
  height: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.progress-bar {
  height: 8px;
  background-color: var(--primary-color);
  border-radius: 4px;
  transition: width 0.5s ease-in-out;
}

.progress {
  margin: 8px 0 0;
  font-size: 18px;
}
